<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySoBooks</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <!-- 头部 -->
    <div class="header">
        <div class="navheader"></div>
        <div class="nav">
            <div class="navlist">
                <div class="link">小说文学</div>
                <div class="link">历史文学</div>
                <div class="link">小说文学</div>
                <div class="link">历史文学</div>
                <div class="link">小说文学</div>
                <div class="link">历史文学</div>
                <div class="link">小说文学</div>
                <div class="link">历史文学</div>
                <div class="search">
                    <input type="text">
                    <button>
                        <span class="icon"></span>
                        <span class="text">搜索</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="content">
        <div class="booklist">
            <% for(let i=0; i < book.length; i++) { %>
                <a href="/books/<%- book[i].id%>">
                    <div class="bookitem">
                        <img class="bookimg" src="<%- book[i].bookimg%>" alt="">
                        <h3 class="title">
                            <%- book[i].bookname%>
                        </h3>
                        <p class="author">
                            <%- book[i].author%>
                        </p>
                        <div class="cataory">
                            <%- book[i].cataory%>
                        </div>
                    </div>
                </a>
                <%}%>
        </div>

        <div class="erweima">
            <img src="https://sobooks.cc/AD/330push.jpg" alt="">
        </div>
    </div>
</body>

</html>